<!DOCTYPE HTML>
<html>
<head>
<title>Admin</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/editProfile.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body style="background-color:#FBECB2;">
	<CENTER>	
<h2>Add items</h2></CENTER>
<div class="display">
<form action="/addItem" method="POST" enctype="multipart/form-data">
	<p>ProductID: <input type="number" name="id"></p><br>
	<p>Name: <input type="text" name="name"></p><br>
	<p>Price: <input type="text" name="price"></p><br>
	<p>Description: <textarea name="description" rows=3 cols="40"></textarea></p><br>
	<p>Image: <input type="file" name="image"></p><br>
	<p>Stock: <input type="text" name="stock"></p><br>
	<p>Category: <select name="category">
		{% for row in categories %}
			<option value="{{row[0]}}">{{row[1]}}</option>
		{% endfor %}
	</select></p><br>
	<input id="sub" type="submit" value="Save">
</form>
</div>
</body>
</html>

