<html>
<head>
<title>Change Password</title>
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>
<link rel="stylesheet" href={{url_for('static', filename='css/editProfile.css')}} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<center><h1>Change password</h1></center>
<p id="msg">{{ msg }}</p>
<div class="display">
<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
	<p>Old Password: <input type="password" name="oldpassword"></p>
	<p>New Password: <input type="password" name="newpassword" id="newpassword"></p>
	<p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>
	<input id='sub' type="submit" value="Save">
</form>
<center><a id='go' href="{{ url_for('profileHome') }}">Go to Profile</a></center>
</div>
</body>
</html>


